<div class="outer-container">
  <p class="title">TrackFit</p>
  <ul>
    <li
      [routerLink]="nav.route"
      *ngFor="let nav of sidenavItems"
      [ngClass]="{ active: isActive(nav.route) }"
    >
      <mat-icon>{{ nav.icon }}</mat-icon>
      <span>{{ nav.title }}</span>
    </li>
  </ul>
  <div class="logout-btn">
    <div class="logout-details">
      <span class="elipssis">{{ authService.username }}</span>
      <span class="elipssis">{{ authService.email }}</span>
    </div>
    <mat-icon>logout</mat-icon>
  </div>
</div>
