<div class="outer-container">
  <mat-icon class="menu-icon" (click)="closeDrawer()">close</mat-icon>
  <div class="top-container">
    <img class="logo" alt="logo" src="icons/logo.png" />
    <p class="title">TrackFit</p>
  </div>
  <ul>
    <li
      [routerLink]="nav.route"
      *ngFor="let nav of sidenavItems"
      [ngClass]="{ active: isActive(nav.route) }"
    >
      <mat-icon>{{ nav.icon }}</mat-icon>
      <span>{{ nav.title }}</span>
    </li>
  </ul>
  <div
    class="logout-btn"
    (click)="logout()"
    (keydown.enter)="logout()"
    (keydown.space)="logout()"
    tabindex="0"
  >
    <span>Logout</span>
    <mat-icon>logout</mat-icon>
  </div>
</div>
