

  .details-container{
    border-radius: 0%;
    padding: 1.5rem;
    .chart-container {
        display: grid;
        grid-template-columns: auto auto;
      }
      
      .chart-wrapper {
        margin: 10px;
        min-width:  200px;
        max-height: 200px;
      }
      
      canvas {
        height: 100% !important; 
        width: 100% !important; 
      }
      .footer{
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
      }
      .details{
        display: grid;
        margin-top: 1rem;
        grid-template-columns: auto auto;
      }
}