<div class="outer-layout">
  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer-sidenav" mode="side" [opened]="false">
      <app-sidenav
        class="sidenav"
        (closeDrawerEvent)="drawer.close()"
      ></app-sidenav>
    </mat-drawer>
  </mat-drawer-container>

  <app-sidenav class="sidenav left-sidenav"></app-sidenav>
  <div class="content">
    <div class="header">
      <div class="text-container">
        <span class="title">{{ getTitleSubtitle()?.title }}</span>
        <span class="subtitle">{{ getTitleSubtitle()?.subtitle }}</span>
      </div>
      <div class="controls">
        <app-notifications></app-notifications>
        <mat-icon class="right-sidenav" (click)="drawer.toggle()"
          >menu</mat-icon
        >
      </div>
    </div>
    <div class="outlet-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
