.outer-layout{
    display: flex;
    max-width: 100%;

    .sidenav{
        height: 100vh;
        width: 12rem;
    }
    .content{
        max-height: 100vh;
        overflow-y:auto;
        flex:1;
        overflow-x:hidden;
        padding:0.5rems;
    }
}