.workouts-container {
  min-height: 100%;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;

  .view-toggle {
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;

    .table-page-btn {
      width: fit-content;
      border-radius: 4px;
    }

    mat-icon {
      cursor: pointer;
      color: #005cbb;
      margin-bottom: 0.5rem;
    }
  }

  .view-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1rem;

    .table-wrapper {
      flex: 1;
      overflow: auto;
      max-height: 65vh;

      table {
        border-radius: 4px;
        overflow: hidden;
        width: 100%;

        th {
          background-color: #005cbb;
          color: #faf9fd;
        }
        .mat-mdc-cell {
          border: 0px !important;
        }
        tr:hover {
          background: #aeccea2c;
        }

        mat-icon {
          cursor: pointer;
        }
      }
    }

    .grid-wrapper {
      display: flex;
      overflow: auto;
      flex-direction: column;
      max-height: 65vh;
      flex: 1;
      padding: 0.5rem;

      .grid-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 1rem;
        margin-top: 1rem;

        .workout-card {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          border-radius: 12px;
          background-color: var(--bgColor_2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          cursor: pointer;

          &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          }

          .workout-detail {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.25rem;
            font-size: 1rem;
            color: var(--textColor_3);

            .anchor-span {
              font-weight: bold;
              color: var(--textColor_2);
            }
          }
        }
      }
    }
  }
}
