.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  min-width: 250px;
  background-color: var(--bgColor_2);
  border: 1px solid var(--bgColor_3);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  animation: fade-in-out 3s ease-in-out forwards;
  color: #333;
}

.toast.success {
  color: var(--textColor_2);
}

.toast.error {
  color: #f44336;
}

.close-btn {
  color: var(--textColor_3);
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1.5rem;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  img {
    height: 10rem;
    width: 10rem;
  }
}
