<div class="goals-container">
  <div class="view-toggle">
    <mat-icon *ngIf="!isGridView" (click)="toggleView()">grid_on</mat-icon>
    <mat-icon *ngIf="isGridView" (click)="toggleView()">table_rows</mat-icon
    ><button class="mt-1 table-page-btn" mat-flat-button (click)="createGoal()">
      Add Goal
    </button>
  </div>
  <div class="view-container">
    <div *ngIf="!isGridView" class="table-wrapper">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="goalType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let goal">
            {{ goal.goalType | formatCamelCase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="targetValue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Target Value
          </th>
          <td mat-cell *matCellDef="let goal">{{ goal.targetValue }}</td>
        </ng-container>

        <ng-container matColumnDef="from">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
          <td mat-cell *matCellDef="let goal">
            {{ goal.from | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="to">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>To</th>
          <td mat-cell *matCellDef="let goal">
            {{ goal.to | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let goal">
            <mat-icon (click)="viewGoalDetails(goal)">information</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div *ngIf="isGridView" class="grid-wrapper">
      <div class="grid-cards-wrapper">
        <div
          class="goal-card"
          *ngFor="let goal of dataSource"
          (click)="viewGoalDetails(goal)"
        >
          <div class="goal-detail">
            <span class="anchor-span">Type:</span>
            {{ goal.goalType | formatCamelCase }}
          </div>
          <div class="goal-detail">
            <span class="anchor-span">Target:</span> {{ goal.targetValue }}
          </div>
          <div class="goal-detail">
            <span class="anchor-span">From:</span>
            {{ goal.from | date : "dd/MM/yyyy" }}
          </div>
          <div class="goal-detail">
            <span class="anchor-span">To:</span>
            {{ goal.to | date : "dd/MM/yyyy" }}
          </div>
        </div>
      </div>
    </div>
    <mat-paginator
      [length]="totalGoals"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
