<app-auth-layout>
  <form class="outer-form" [formGroup]="loginFormGroup" (ngSubmit)="login()">
    <h5>Welcome to TrackFit</h5>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        formControlName="email"
        type="email"
        matInput
        placeholder="Ex. pritam@example.com"
      />
      <mat-error>Must be a valid email</mat-error>
    </mat-form-field>
    <mat-form-field class="mt-half" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        formControlName="password"
        matInput
        placeholder=""
      />
      <mat-error>Password is required</mat-error>
    </mat-form-field>

    <button
      class="mt-half"
      mat-flat-button
      type="submit"
      [disabled]="!loginFormGroup.valid"
    >
      Login
    </button>
    <a class="mt-1 anchor-span" routerLink="/auth/forgot-password"
      >Forgot password?</a
    >
    <button class="google-logo mt-1" type="button">
      <img src="icons/google_logo.svg" />
      <span>Sign in with google</span>
    </button>
    <span class="mt-1"
      >Don't have an account yet?
      <a class="anchor-span" routerLink="/auth/sign-up">Sign up now!</a>
    </span>
  </form>
</app-auth-layout>
