@use "@angular/material" as mat;

@include mat.core();

$fitness-tracker-frontend-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

$fitness-tracker-frontend-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

$bgColor_light: #faf9fd;
$bgColor_dark: #121316;
$bgColor_2_light: #f1f1f1;
$bgColor_2_dark: #282828;
$textColor_light: #121212;
$textColor_dark: #faf9fd;
$textColor_2_light: #0062c4;
$textColor_2_dark: rgb(42, 149, 255);
$textColor_3_light: #555555;
$textColor_3_dark: #8f8f8f;

@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --textColor: #{$textColor_light};
  --bgColor_2: #{$bgColor_2_light};
  --textColor_2: #{$textColor_2_light};
  --textColor_3: #{$textColor_3_light};
}

@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --textColor: #{$textColor_dark};
  --bgColor_2: #{$bgColor_2_dark};
  --textColor_2: #{$textColor_2_dark};
  --textColor_3: #{$textColor_3_dark};
}
* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bgColor);
  color: var(--textColor);
}
body.dark {
  @include darken();
  @include mat.all-component-themes($fitness-tracker-frontend-dark-theme);
}
body.light {
  @include lighten();
  @include mat.all-component-themes($fitness-tracker-frontend-light-theme);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--textColor);
}

::-webkit-scrollbar {
  width: 4px;
  background-color: var(--textColor_2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--textColor_2);
  border-radius: 12px;
  border: 1px solid #555555;
}

.anchor-span {
  color: var(--textColor_2);
  text-decoration: none;
  font-weight: 500;
}
.mt-1 {
  margin-top: 1rem !important;
}

.mt-half {
  margin-top: 0.5rem;
}
.title {
  font-weight: 600;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.subtitle {
  font-size: small;
  font-weight: 500;
  color: var(--textColor_3);
  font-style: italic;
}
.mat-mdc-select-arrow {
  display: none;
}
.chartContainer {
  width: 100vw;
}
.elipssis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
